[Desktop Entry]
Name=Pacman
Comment=Clear hidden mines from a minefield
Exec=google-pacman
Icon=/usr/share/google-pacman/google-pacman.svg
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
StartupNotify=true
